<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hlju.boler.dao.IApplicationDao">

    <resultMap id="BaseResultMap" type="edu.hlju.boler.pojo.po.Application">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="state" jdbcType="TINYINT" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        
        <association column="employ" property="employ" select="edu.hlju.boler.dao.IUserDao.selectById" />
        <association column="employee" property="employee" select="edu.hlju.boler.dao.IUserDao.selectById" />
        <association column="recruitment" property="recruitment" select="edu.hlju.boler.dao.IRecruitmentDao.selectById" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, employ, employee, recruitment, state, create_time, modify_time
    </sql>
    
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from application
        order by modify_time desc
    </select>
    
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from application
        where id = #{id,jdbcType=INTEGER}
        order by modify_time desc
    </select>
    
    <select id="selectSplit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from application
        order by modify_time desc
    </select>
    
    <select id="selectSplitCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from application
        <where>
            <if test="application.employ != null">and employ = #{application.employ.id}</if>
            <if test="application.employee != null">and employee = #{application.employee.id}</if>
            <if test="application.recruitment != null">and recruitment = #{application.recruitment.id}</if>
            <if test="application.state != null">and state = #{application.state}</if>
        </where>
        order by modify_time desc
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from application
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="edu.hlju.boler.pojo.po.Application">
        insert into application (
            id, employ, employee, create_time, modify_time
        ) values (
            #{id,jdbcType=INTEGER}, 
	        #{employ.id,jdbcType=INTEGER},
	        #{employee.id,jdbcType=INTEGER},
            #{recruitment.id,jdbcType=INTEGER},
            #{state,jdbcType=TINYINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <insert id="insertSelective" parameterType="edu.hlju.boler.pojo.po.Application">
        insert into application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="employ != null">
                employ,
            </if>
            <if test="employee != null">
                employee,
            </if>
             <if test="recruitment != null">
                recruitment,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="employ != null">
                #{employ.id,jdbcType=INTEGER},
            </if>
            <if test="employee != null">
                #{employee.id,jdbcType=INTEGER},
            </if>
            <if test="recruitment != null">
                #{recruitment.id,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="updateByIdSelective" parameterType="edu.hlju.boler.pojo.po.Application">
        update application
        <set>
            <if test="employ != null">
                employ = #{employ.id,jdbcType=INTEGER},
            </if>
            <if test="employee != null">
                employee = #{employee.id,jdbcType=INTEGER},
            </if>
            <if test="recruitment != null">
                recruitment = #{recruitment.id,jdbcType=INTEGER},
            </if>
             <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
             <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateById" parameterType="edu.hlju.boler.pojo.po.Application">
        update 
            application
        set 
            employ = #{employ.id,jdbcType=INTEGER},
            employee = #{employee.id,jdbcType=INTEGER},
            recruitment = #{recruitment.id,jdbcType=INTEGER},
            state = #{state,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where
            id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>