<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hlju.boler.dao.IUserDao">

    <resultMap id="BaseResultMap" type="edu.hlju.boler.pojo.po.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="password" jdbcType="CHAR" property="password" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        
        <association column="person_info" property="personInfo"
            select="edu.hlju.boler.dao.IPersonInfoDao.selectById" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, email, password, person_info, create_time, modify_time
    </sql>
    
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_list" />
        from user
    </select>
    
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="edu.hlju.boler.pojo.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (
        	id, email, password, person_info, create_time, modify_time
        )
        values (
	        #{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
	        #{password,jdbcType=CHAR},
            #{personInfo.id,jdbcType=INTEGER},
	        #{createTime,jdbcType=TIMESTAMP}, 
            #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <insert id="insertSelective" parameterType="edu.hlju.boler.pojo.po.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="personInfo.id != null">
                person_info,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="personInfo.id != null">
                #{personInfo.id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="edu.hlju.boler.pojo.po.User">
        update user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="personInfo.id != null">
                person_info = #{personInfo.id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateById" parameterType="edu.hlju.boler.pojo.po.User">
        update 
            user
        set 
            email = #{email,jdbcType=VARCHAR},
            password = #{password,jdbcType=CHAR},
            person_info = #{personInfo.id,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where 
            id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>