<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hlju.boler.dao.IWorkExpDao">

    <resultMap id="BaseResultMap" type="edu.hlju.boler.pojo.po.WorkExperience">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" jdbcType="DATE" property="startTime" />
        <result column="end_time" jdbcType="DATE" property="endTime" />
        <result column="corporation" jdbcType="VARCHAR" property="corporation" />
        <result column="scale" jdbcType="VARCHAR" property="scale" />
        <result column="department" jdbcType="VARCHAR" property="department" />
        <result column="job" jdbcType="VARCHAR" property="job" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        
        <association column="resume" property="resume"
            select="edu.hlju.boler.dao.IOnlineResumeDao.selectById" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, start_time, end_time, corporation, scale, department, job, 
        detail, resume, creati_time, modify_time
    </sql>
    
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_list" />
        from work_exp
    </select>
    
    <select id="selectById" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from work_exp
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from work_exp
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="edu.hlju.boler.pojo.po.WorkExperience">
        insert into work_exp (
	        id, start_time, end_time, corporation, scale, department,
	        job, detail, resume, create_time, modify_time
        ) values (
	        #{id,jdbcType=INTEGER}, 
	        #{startTime,jdbcType=DATE},
	        #{endTime,jdbcType=DATE},
	        #{corporation,jdbcType=VARCHAR}, 
	        #{scale,jdbcType=VARCHAR}, 
	        #{department,jdbcType=VARCHAR},
	        #{job,jdbcType=VARCHAR}, 
	        #{detail,jdbcType=VARCHAR},
	        #{resume.id,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP}, 
            #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <insert id="insertSelective" parameterType="edu.hlju.boler.pojo.po.WorkExperience">
        insert into work_exp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="corporation != null">
                corporation,
            </if>
            <if test="scale != null">
                scale,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="resume != null">
                resume,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=DATE},
            </if>
            <if test="corporation != null">
                #{corporation,jdbcType=VARCHAR},
            </if>
            <if test="scale != null">
                #{scale,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="resume != null">
                #{resume.id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="updateByIdSelective" parameterType="edu.hlju.boler.pojo.po.WorkExperience">
        update work_exp
        <set>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=DATE},
            </if>
            <if test="corporation != null">
                corporation = #{corporation,jdbcType=VARCHAR},
            </if>
            <if test="scale != null">
                scale = #{scale,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="resume != null">
                resume = #{resume.id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateById" parameterType="edu.hlju.boler.pojo.po.WorkExperience">
        update 
            work_exp
        set 
            start_time = #{startTime,jdbcType=DATE},
            end_time = #{endTime,jdbcType=DATE},
            corporation = #{corporation,jdbcType=VARCHAR},
            scale = #{scale,jdbcType=VARCHAR},
            department = #{department,jdbcType=VARCHAR},
            job = #{job,jdbcType=VARCHAR},
            detail = #{detail,jdbcType=VARCHAR},
            resume = #{resume.id,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where 
            id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>